body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Helvetica, Arial, verdana, serif;
  line-height: 1.6;
  background-color: #E8EBF1;
}

/***************
CONTAINER
***************/
.container-cards {
  margin: 0 auto;
  padding: 10px;
  max-width: 1280px;
}

@media (max-width: 1300px) {
  .container-cards {
    max-width: 1100px;
  }
}

.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 700px;
}

h1,
h2,
h3 {
  line-height: 1;
}

.center {
  text-align: center;
}

header h4 {
  line-height: 0.5;
}

.menu-text {
  color: #7a869a;
}

/***************
CARDS
***************/
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  width: 1280px;
  color: #172b53;
}

@media (max-width: 1300px) {
  .cards {
    max-width: 1100px;
  }
}

@media (max-width: 1120px) {
  .cards {
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .cards {
    max-width: 400px;
    justify-content: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  width: 400px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
}

.card {
  text-align: center;
}

@media (max-width: 1300px) {
  .card {
    width: 340px;
  }
}

.card:hover {
  background-color: #f1f1f1;
}

.card-in {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  border-radius: 10px;
}

.card-header {
  text-align: center;
}

.card-text {
  padding: 0 20px;
}


.img-quest {
  width: 100%;
}

/***************
LINKS
***************/
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #172b53;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}


/***************
FOOTER
***************/
footer {
  margin-top: 10px;
  text-align: center;
  background-color: #2cc1cc;
}


/***************
LEVEL
***************/
.card.card-lev {
  justify-content: start;
  gap: 0;
}

.card-header.card-lev {
  padding-left: 50px;
  text-align: left;
  font-size: 14px;
}

.card-min.card-lev {
  padding-left: 50px;
  text-align: left;
  font-size: 12px;
}

.card-text.card-lev {
  padding: 20px;
  text-align: left;
  font-size: 14px;
}
