.page {
  font-family: Helvetica, Arial, verdana, serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 1;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: #172b53;
  background-color: #E8EBF1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  width: 300px;
  border-radius: 10px;
  background-color: #fff;
}

.card-img {
  border-radius: 10px;
}

.card-text {
  padding: 0 20px;
}